/* Reset default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color; #333;
}

/* navbar */
nav .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00bfff;
}

/* sections */
section {
    padding: 60px 20px;
    text-align: center;
}

section#home {
    background: url('images/img8.jpg') no-repeat center center/cover;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  section#home h1 {
      font-size: 48px;
      margin-buttom: 20px;
  }

  section#home p {
      font-size: 24px;
  }

/* Gallery */
.gallery-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* contact form */
form {
    max-width: 500px;
    margin: 0 auto;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00bfff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007acc;
}

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
}

/* responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .gallery-container {
        flex-direction: column;
        gap: 20px;
    }

    section#home h1 {
        font-size: 36px;
    }

    section#home p {
        font-size: 18px;
        }
    }

